@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ededed;
    --foreground: #0a0a0a;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}

select {
  background-color: #ffffff;
}

@layer base {
  .padding {
    @apply p-6 md:px-10 md:py-20;
  }

  .card-style {
    @apply p-2 shadow-md bg-white;
  }

  .section-style {
    @apply padding  h-screen w-full;
  }

  .page-style {
    @apply padding  h-screen w-full;
  }

  .default-white-bg {
    background-color: #ffffff;
  }

  .navbar {
    @apply shadow-md padding py-2 default-white-bg  flex justify-between items-center  h-[60px] w-full top-0 left-0 z-50 fixed;
  }

  .mobile-nav {
    @apply fixed  top-0 left-0 h-screen  default-white-bg w-full z-50 transform transition-transform duration-300;
  }

  .bg-default-black {
    @apply bg-[#171717];
  }

  .overlay {
    @apply fixed  top-0 left-0 h-screen  bg-default-black w-full z-40 transform transition-transform duration-300;
  }

  .footer {
    @apply padding bg-default-black py-5;
  }

  .link-box {
    @apply h-[35px] w-[35px];
  }

  .button {
    @apply px-4 py-2 rounded-lg flex justify-center items-center gap-4 transition-all duration-300;
  }
}
