@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ededed;
    --foreground: #0a0a0a;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}

@layer base {
  .padding {
    @apply px-10 py-20;
  }

  .card-style {
    @apply p-2 shadow-md;
  }

  .section-style {
    @apply padding  h-screen w-full;
  }

  .page-style {
    @apply padding  h-screen w-full;
  }

  .navbar {
    @apply py-2 shadow-md padding flex justify-between items-center  min-h-[60px] w-full fixed;
    background-color: var(--background);
  }

  .bg-default-black {
    @apply bg-[#171717];
  }

  .footer {
    @apply padding bg-default-black py-5;
  }
}
